@model IEnumerable<NProject.Models.Domain.Workspace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}
<div class="page-header">
<h1>My workspaces</h1>
</div>
<div class="buttons-row">

        <a class="btn btn-success btn-small" href="@Url.Action("Create", "Workspace")">
            <i class="icon-plus"></i> Create
        </a>
</div>
<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            CreationDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Show", new { id=item.Id })<br />
           <i><small>@item.Description</small></i>
        </td>
        <td>
            @RazorHelpers.ConvertUtcToUserTime(item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
