@model NProject.ViewModels.Project.EditTeamMate
           
@{
    ViewBag.Title = "Edit user's rights";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}

<script language="javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script language="javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<h2>@Model.TeamMate.Username</h2>

<div data-toggle="buttons-checkbox">
<table class="table-bordered table">
@foreach (var role in Model.Roles)
{
    <tr>
        <td><button class="@(((Model.TeamMate.Role & role.Value.Item1) == role.Value.Item1) ? "btn btn-success active": "btn")" data-id="@role.Value.Item1" onclick="$(this).toggleClass('btn-success')">@role.Key</button></td>
        <td>@role.Value.Item2</td>
    </tr>
}
</table>
</div>
<form action="@Url.Action("EditTeamMate")" method="post" onsubmit="javascript:return getSelectedRoles();">
    @Html.HiddenFor(m => m.TeamMate.Id)
    @Html.HiddenFor(m => m.TeamMate.Role)
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
<script type="text/javascript">
    function getSelectedRoles() {
        var selected = $(".btn-success.active");
        var resultRole = 0;
        $.each(selected, function(i, v) {
            resultRole |= parseInt($(v).attr('data-id'), 10);
        });
        if (resultRole == 0) {
            alert('Greater 0!'); return false;
        }
        else {
            $("#TeamMate_Role").val(resultRole); return true;
        }
    }
</script>