@model NProject.Web.ViewModels.Task.List

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}
@section Breadcrumbs
{
    @RazorHelpers.RenderBreadcrumbs(new Dictionary<string, string> { { Url.Action("Show", "Project", new {id = Model.ProjectId }), Model.ProjectName },
                                                                     {"", "Tasks"} })
}
<h2>List</h2>
     <div class="row" style="margin-bottom: 5px;">
     <div style="display: inline; margin-left:20px" class="controls">
     Show: 
     <select onchange="javascript:document.location.search = 'show='+this.value" id="taskFilter">
        <option value="all">All tasks</option>
        <option value="completed">Completed</option>
        <option value="active" selected="selected">Active</option>
     </select>
     </div>
     @if (Model.CanUserEditTasks)
     {
         <div class="pull-right">
             <a class="btn btn-success btn-small" href="@Url.Action("Create", "Task", new {id = Model.ProjectId})">
                 <i class="icon-plus"></i> Create new
             </a>
         </div>
     }
     </div>
 
<table  class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Responsible
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Tasks)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsible.Name)
        </td>
        <td>
            @Html.ActionLink("Show", "Show", new {id = item.Id})
            @if (Model.CanUserEditTasks)
            {
                @:| @Html.ActionLink("Edit", "Edit", new {id = item.Id})
            }
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    document.getElementById('taskFilter').value = '@Model.TaskFilter';
</script>
