@model NProject.Web.ViewModels.Account.RestorePassword
@{ ViewBag.Title = "Password restore"; }
<div style="margin: 50px 0; padding: 0; text-align: center">
    <div class="span4" style="float: none; margin: 0px auto; text-align: left; padding: 15px;
        border: 1px dashed #333; background-color: #eee;">
        @using (Html.BeginForm())
        {
            if (!Model.IsValidToken)
            {
            @:Write your email and we will send you a link to change it
    }
            <div class="control-group">
                Email
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            if (Model.IsValidToken)
            {
            <div class="control-group">
                New password
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="control-group">
                New password confirmation
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPasswordConfirmation, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.NewPasswordConfirmation)
                </div>
            </div>
            @Html.HiddenFor(m => m.Token)
            @Html.SubmitButton("Update")        
            }
            else
            {
            @Html.SubmitButton("Send")    
            }
        }
    </div>
</div>
