@using NProject.Web.ViewModels.Account
@model SimpleRegistration

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}

<h2>Registration</h2>

@using (Html.BeginForm("SimpleRegistrationFinish", "Account"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SimpleRegistration</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Email)
            <div class="controls">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password)
            <div class="controls">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LastName)
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        @Html.HiddenFor(m => m.TimeShiftFromUtc)
        <p>
            <input type="submit" value="Continue" class="btn primary" />
        </p>
    </fieldset>
}
