@using NProject.Web.ViewModels.Account
@model SimpleRegistration

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}
<div style="margin: 50px 0; padding: 0; text-align: center">
    <div class="span4" style="float: none; margin: 0px auto; text-align: left; padding: 15px;
        border: 1px dashed #333; background-color: #eee;">
@using (Html.BeginForm("SimpleRegistrationFinish", "Account"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Registration</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Email)
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { @class = "span4" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password)
            <div class="controls">
                @Html.PasswordFor(model => model.Password, new { @class = "span4" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class = "span4" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LastName)
            <div class="controls">
                @Html.TextBoxFor(model => model.LastName, new { @class = "span4" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        @Html.HiddenFor(m => m.TimeShiftFromUtc)
        <p>
            <input type="submit" value="Continue" class="btn primary" />
        </p>
    </fieldset>
}
</div>
</div>
