@model NProject.Web.ViewModels.Home.Settings
@{
    ViewBag.Title = "Settings";
}
@section Breadcrumbs
{
    @RazorHelpers.RenderBreadcrumbs(new Dictionary<string, string> { { Url.Action("Index", "Home"), "NProject" },
                                                                     {"", "Settings"} })
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Settings</legend>
        <div class="buttons-row">
            <input type="submit" class="btn btn-small btn-primary" value="Save" />
        </div>
        <div class="control-group">
                @Html.LabelFor(model => model.FirstName)
                <div class="controls">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div><div class="control-group">
                @Html.LabelFor(model => model.LastName)
                <div class="controls">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Email)
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { disabled = "disabled" })
                </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Language)
                <div class="controls">
                    @Html.TextBoxFor(model => model.Language)
                    @Html.ValidationMessageFor(model => model.Language)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.HoursOffsetFromUtc)
                <div class="controls">
                    @Html.TextBoxFor(model => model.HoursOffsetFromUtc)
                    @Html.ValidationMessageFor(model => model.HoursOffsetFromUtc)
                </div>
            </div>
    </fieldset>
}



<script language="javascript" type="text/javascript">
    function setUILanguage(locale) {
        var expires = new Date();
        expires.setYear(expires.getYear() + 1);
        var str = 'NProjectUILanguage=' + locale + ';path=/;expires=' + expires.toUTCString();
        alert(str);
        document.cookie = str;
    }
</script>
